@charset "UTF-8";

@font-face {
  font-family: "lightpass";
  src:url("fonts/lightpass.eot");
  src:url("fonts/lightpass.eot?#iefix") format("embedded-opentype"),
    url("fonts/lightpass.woff") format("woff"),
    url("fonts/lightpass.ttf") format("truetype"),
    url("fonts/lightpass.svg#lightpass") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lightpass" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="lpi-"]:before,
[class*=" lpi-"]:before {
  font-family: "lightpass" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lpi-apartment:before {
  content: "\61";
}
.lpi-building:before {
  content: "\62";
}
.lpi-garage:before {
  content: "\63";
}
.lpi-office:before {
  content: "\64";
}
